# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard eclipse
.project
.classpath
.settings

# ignore tracefiles (too big)
workloads/*.dat

# ignore log files from testing (too big)
log-*

# ignore d.dat file (output from run)
d.dat
