# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard eclipse
.project
.classpath
.settings

# ignore tracefiles (too big)
workloads/parsedFile-Youtube-MERGED-DUPLICATED-5m.dat
workloads/parsedFile-tracefile-OutputFromRedis.dat
